.text-typing-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #343f4f;
}
.text-typing-body .wrapper {
    display: inline-flex;
}
.text-typing-body .wrapper .static-text {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.text-typing-body .wrapper .dynamic-text {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.text-typing-body .wrapper .dynamic-text li {
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 10s steps(4) infinite;
}
@keyframes slide {
    100% {
        top: -360px;
    }
}

.text-typing-body .wrapper .dynamic-text li span {
    position: relative;
}
.text-typing-body .wrapper .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background:#343f4f;
    border-left: 2px solid #fc6d6d;
    animation: typing 2.5s steps(10) infinite
}
@keyframes typing {
    0%, 10%, 100% {
        left: 0%;
    }
    70%, 90% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
/* 
.text-typing-body .wrapper .static-text {

} */