.text-flashing h2 span {
    @apply text-[#ff022c]
}

.text-flashing h2::before {
    content: "";
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%, #000 5%, #000 100%);
    animation: flashing1 5.5s linear forwards ;
    animation-delay: 2s;
}
@keyframes flashing1 {
    0% {
        left: 110%;
    }
    100% {
        left: -20%;
    }
}